openapi: 3.1.0
info:
  title: Travel Planner API
  version: 1.0.0
  description: >
    RESTful API for the Travel Planner MVP.  
    Provides endpoints for managing users, trips, activities, and wallet items.  
    Built to integrate with Supabase backend and support offline synchronization.
servers:
  - url: https://api.travelplanner.app/v1
    description: Production
  - url: https://staging.api.travelplanner.app/v1
    description: Staging
tags:
  - name: Auth
    description: Authentication and user management
  - name: Trips
    description: Trip CRUD operations
  - name: Activities
    description: Timeline activities within trips
  - name: Wallet
    description: File uploads and booking document management
  - name: Sync
    description: Offline synchronization endpoints

paths:

  /auth/login:
    post:
      tags: [Auth]
      summary: Log in or register a user
      description: >
        Handles login via magic link or OAuth provider.  
        Supabase Auth handles actual authentication.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                provider: { type: string, enum: [google, apple, magic_link] }
      responses:
        '200':
          description: Login initiated successfully
        '400':
          description: Invalid email or provider

  /auth/session:
    get:
      tags: [Auth]
      summary: Retrieve current user session
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Returns the current session info
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id: { type: string }
                  email: { type: string }
                  expires_at: { type: string, format: date-time }

  /trips:
    get:
      tags: [Trips]
      summary: List user trips
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: List of trips
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Trip'

    post:
      tags: [Trips]
      summary: Create new trip
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripCreate'
      responses:
        '201':
          description: Trip created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'

  /trips/{trip_id}:
    get:
      tags: [Trips]
      summary: Get trip details
      security: [{ bearerAuth: [] }]
      parameters:
        - name: trip_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Trip object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'

    patch:
      tags: [Trips]
      summary: Update trip
      security: [{ bearerAuth: [] }]
      parameters:
        - name: trip_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripUpdate'
      responses:
        '200':
          description: Trip updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'

    delete:
      tags: [Trips]
      summary: Delete trip
      security: [{ bearerAuth: [] }]
      parameters:
        - name: trip_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Trip deleted

  /trips/{trip_id}/activities:
    get:
      tags: [Activities]
      summary: List activities for a trip
      security: [{ bearerAuth: [] }]
      parameters:
        - name: trip_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: List of activities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'

    post:
      tags: [Activities]
      summary: Create new activity
      security: [{ bearerAuth: [] }]
      parameters:
        - name: trip_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityCreate'
      responses:
        '201':
          description: Activity created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'

  /activities/{activity_id}:
    patch:
      tags: [Activities]
      summary: Update an activity
      security: [{ bearerAuth: [] }]
      parameters:
        - name: activity_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityUpdate'
      responses:
        '200':
          description: Updated activity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'

    delete:
      tags: [Activities]
      summary: Delete an activity
      security: [{ bearerAuth: [] }]
      parameters:
        - name: activity_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Activity deleted

  /trips/{trip_id}/wallet:
    get:
      tags: [Wallet]
      summary: List wallet items for a trip
      security: [{ bearerAuth: [] }]
      parameters:
        - name: trip_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: List of wallet items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WalletItem'

    post:
      tags: [Wallet]
      summary: Upload wallet item metadata
      security: [{ bearerAuth: [] }]
      parameters:
        - name: trip_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletItemCreate'
      responses:
        '201':
          description: Wallet item created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletItem'

  /sync:
    post:
      tags: [Sync]
      summary: Push local changes (offline sync)
      description: >
        Client posts a list of modified entities (trips, activities, wallet items).
        Server merges and returns resolved entities.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncPayload'
      responses:
        '200':
          description: Sync result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncResult'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Trip:
      type: object
      properties:
        id: { type: string }
        user_id: { type: string }
        name: { type: string }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        flexible: { type: boolean }
        color: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    TripCreate:
      type: object
      required: [name, start_date, end_date]
      properties:
        name: { type: string }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        flexible: { type: boolean, default: false }
        color: { type: string, nullable: true }

    TripUpdate:
      type: object
      properties:
        name: { type: string }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        flexible: { type: boolean }
        color: { type: string }

    Activity:
      type: object
      properties:
        id: { type: string }
        trip_id: { type: string }
        type: { type: string, enum: [flight, hotel, event, transport, note, hold, task] }
        title: { type: string }
        start_ts: { type: string, format: date-time }
        end_ts: { type: string, format: date-time }
        city: { type: string, nullable: true }
        status: { type: string, enum: [planned, booked, cancelled] }
        meta: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ActivityCreate:
      allOf:
        - $ref: '#/components/schemas/Activity'
      required: [type, title, start_ts]

    ActivityUpdate:
      type: object
      properties:
        title: { type: string }
        start_ts: { type: string, format: date-time }
        end_ts: { type: string, format: date-time }
        city: { type: string }
        status: { type: string }
        meta: { type: object, additionalProperties: true }

    WalletItem:
      type: object
      properties:
        id: { type: string }
        trip_id: { type: string }
        title: { type: string }
        file_url: { type: string, format: uri }
        type: { type: string, enum: [document, ticket, invoice, image, other] }
        traveler: { type: string, nullable: true }
        linked_activity_id: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    WalletItemCreate:
      type: object
      required: [title, file_url]
      properties:
        title: { type: string }
        file_url: { type: string, format: uri }
        type: { type: string }
        traveler: { type: string }
        linked_activity_id: { type: string }

    SyncPayload:
      type: object
      properties:
        trips:
          type: array
          items: { $ref: '#/components/schemas/Trip' }
        activities:
          type: array
          items: { $ref: '#/components/schemas/Activity' }
        wallet_items:
          type: array
          items: { $ref: '#/components/schemas/WalletItem' }

    SyncResult:
      type: object
      properties:
        updated:
          type: object
          properties:
            trips: { type: array, items: { $ref: '#/components/schemas/Trip' } }
            activities: { type: array, items: { $ref: '#/components/schemas/Activity' } }
            wallet_items: { type: array, items: { $ref: '#/components/schemas/WalletItem' } }
        conflicts:
          type: array
          items:
            type: object
            properties:
              entity: { type: string, enum: [trip, activity, wallet_item] }
              id: { type: string }
              local_version: { type: object }
              server_version: { type: object }
security:
  - bearerAuth: []
